<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <%- include('./layout/styling.ejs') %>
</head>

<body>
  <main>
    <div class="container">
      <h1>Login</h1>
      <div style="display: grid;">
        <label>Username</label><br>
        <input type="text" name="username" id="username" required><br>
        <label>Password</label><br>
        <input type="password" name="password" id="password" required>
        <div>
          <label id="show">Show</label>
          <input type="checkbox" id="check">
        </div><br>
        <button id="login">Log in</button>
        <a href="/register" style="margin-top: 10px;">Register?</a>
      </div>
    </div>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
      const check = document.getElementById('check')
      
      check.addEventListener('change',()=>{
        if (check.checked) {
          document.getElementById('password').type = 'text';
      } else {
        
        document.getElementById('password').type = 'password';
      }
      })
      document.getElementById('login').onclick = () => {
        axios({
          method: 'post',
          url: '/api/login',
          data: {
            username: document.getElementById("username").value,
            password: document.getElementById('password').value
          }
        }).then((response) => {
          console.log(response);
          const result = response.data; // Mengakses respons dari server
    
          if (result.status === 200) {
            window.location ='/api/product'
            alert('Login berhasil');
            
          }return 0
        }).catch((err) => {
          alert('Username atau password salah'+err);

          window.location='/'
        });
      }
    </script>
    
</body>

</html>