<footer style="margin-top: 50px;">
    <div class="card" style="background-color: grey;color: white;">
        <div class="card-body">
          <h5 class="card-title">Support</h5>
          <p class="card-text">Our developer that create this website :</p>
          <a href="https://www.instagram.com/dian__syh?igsh=anFoc3NiYXB2cTY3" class="btn btn-primary">@dian__syh</a>
          <a href="https://www.instagram.com/nsawsyh_?igsh=MWVzNjdiMjlpOXlrdA==" class="btn btn-primary">@nsawsyh_</a>
          <a href="https://www.instagram.com/gabrielsilalahi_766?igsh=cGJ5NnN4cTdpOXFp" class="btn btn-primary">@gabrielsilalahi_766</a>

        </div>
      </div>
</footer>