<footer style="margin-top: 50px;">
    <div class="card" style="background-color: grey;color: white;">
        <div class="card-body">
          <h5 class="card-title">Support</h5>
          <p class="card-text">Our developer that create this website :</p>
          <a href="https://www.instagram.com/dian__syh/" class="btn btn-primary">@dian__syh</a>
          <a href="https://www.instagram.com/t.tryyy_/" class="btn btn-primary">@t.tryyy__</a>
          <a href="https://www.instagram.com/gabrielsilalahi_766/" class="btn btn-primary">@gabrielsilalahi_766</a>
          <a href="https://www.instagram.com/kuraimos/" class="btn btn-primary">@kuraimos</a>
          <a href="https://www.instagram.com/bas911._/" class="btn btn-primary">@bas911._</a>

        </div>
      </div>
</footer>