<header>
  <nav class="navbar d-flex" style="background-color: grey">
    <div class="container-fluid">
      <a href="/api/product" class="navbar-brand">Home</a>
      <a href="/api/cart">
        <img style="width: 20px; right: 20px;cursor: pointer;" src="http://localhost:300/image/shopping-basket.png" alt="">
      </a>
      
    </div>
    
  </nav>
</header>